.sidebar-slidebar-container {
	transition: all 1s;
	overflow: hidden;
	max-height: 1000px;
	opacity: 1;
}
.sidebar-slidebar-slidecontainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.sidebar-slidebar-numberfield::-webkit-inner-spin-button,
.sidebar-slidebar-numberfield::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
.sidebar-slidebar {
	-webkit-appearance: none !important;
	height: 7px;
	width: 100%;
}
.sidebar-slidebar::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: Crimson;
	border-radius: 15px;
	height: 25px;
	width: 25px;
}
.sidebar-slidebar-numberfield {
	width: 30px;
	text-align: center;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-size: 17px;
	border-radius: 7px;
	transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.sidebar-slidebar-numberfield:hover {
	background-color: rgba(255, 255, 255, 0.3);
	transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.sidebar-slidebar-numberfield:focus {
	background-color: rgba(255, 255, 255, 0.3);
	transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.sidebar-slidebar-hide {
	max-height: 0;
	opacity: 0;
}
.sidebar-slidebar-title {
	font-weight: bold;
}
