.right{
    float: right;
}
.left{
    float: left;
}
html, body{
    background-color: PaleTurquoise;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    min-width: 920px;
    min-height: 740px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
#navBar{
    padding: 5px;
}
.navButton{
    height: 50px;
    width: 50px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);  

    display: table;
}
.navButton i{

    font-size: 40px;
    color: white;
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.navButton i:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.navButton i:active{
    font-size: 25px;
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}

.navInput {
    height: 50px;
    margin: 0 20px 0 20px;
    
}

#navBar{
    background-color: Peru;
    height: 60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
input[type="text"]{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
#navBar input[type="text"]{
    margin: 13px;
    background-color: Peru;
    color: white;
    font-size: 25px;
}
#navBar input[type="text"]::placeholder{
    color: LightGray;
}

p, select, button, input{
    width: 100%;
    outline: none;
    height: 28px;
    border: 0;
    border-radius: 2px;
}
select, button{            
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.material-icons{
    font-size: 23px;
}
h2{
    font-size: 26px;
}
p{
    margin: 0;
}
button{
    color: white;
    border-radius: 6px;
    background-color: Crimson;
}
button:active{
    background-color: white;
}
.option{
    margin: 10%;
    width: 80%;
}
#controllerContainer{
    float: left;
    background-color: Peru;
    height: calc(100% - 60px);
    width: 250px;
    box-shadow: 0 25px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#canvasContainer{
    min-width: 550px;
    height: calc(100% - 80px);
    float: right;
    width: calc(100% - 260px);
}
canvas{            
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input[type='range'] {
    -webkit-appearance: none !important;
    height:7px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:Crimson;
    border-radius: 15px;
    height:25px;
    width:25px;
}
