.datafield-result {
	display: flex;
	justify-content: center;
	height: 30px;
	align-items: center;
	user-select: auto;
	cursor: auto;
	text-align: center;
	border-radius: 10px;
	text-decoration: underline;
	transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.datafield-result-container:hover > .datafield-result {
	background-color: rgba(255, 255, 255, 0.25);
	font-size: 20px;
	text-decoration: none;
}

.datafield-result-title {
	font-weight: bold;
}

.datafield-result-container {
	transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
