@font-face {
    font-family: Roboto Slab;
    src: url('fonts/EntezareZohoor2.eot');
    src: url('fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
            local('MaterialIcons-Regular'),
            url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
            url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
b{
    margin: 5px;
}
.right{
    float: right;
}
.left{
    float: left;
}
body{    
    background-color: #b5b5b7;
}
html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.navBar{
    -webkit-user-select: none;
    -webkit-app-region: drag;    
    background-color: #252839;
    height: 65px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.logoField{
    margin: 15px 0 0 15px;
}

.logo{
    margin: 3px;
    height: 30px;
    width: 30px;
}
.title {
    height: 50px;
}
.title p{
    margin: 13px;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 25px;
}
.navButton{
    margin: 5px;
    -webkit-app-region: no-drag;
    height: 55px;
    width: 55px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);  

    display: table;
}
.navButton i{
    font-size: 35px;
    color: white;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.navButton i:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}
.navButton i:active{
    font-size: 25px;
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}
.navInput {
    -webkit-app-region: no-drag;
    height: 50px;
    margin: 2px 10px 13px 10px;    
}
input[type="text"]{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.navBar input[type="text"]{
    margin: 8px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 25px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.navBar input[type="text"]:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.navBar input[type="text"]:focus{
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.navBar input[type="text"]::placeholder{
    color: Gray;
}
p, select, button, input{
    width: 100%;
    outline: none;
    height: 28px;
    border: 0;
    border-radius: 2px;
}
select, button{            
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.material-icons{
    font-size: 23px;
}
h2{
    font-size: 26px;
}
p{
    margin: 0;
}
button{
    color: white;
    border-radius: 6px;
    background-color: Crimson;
}
button:active{
    background-color: white;
}
.option{
    margin: 10%;
    width: 80%;
}
.controllerContainer{
    float: left;
    background-color: #f2b632;
    height: calc(100% - 55px);
    width: 250px;
    box-shadow: 0 25px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#canvasContainer{
    height: calc(100% - 60px);
    width: calc(100% - 250px);
    float: right;
    position: relative;
}
canvas{            
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.slider {
    -webkit-appearance: none !important;
    height:7px;
    margin: 10px 0 0 0;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:Crimson;
    border-radius: 15px;
    height:25px;
    width:25px;
}
.option{
    vertical-align: middle;
}
.result{
    color: #252839;
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.result:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
#obstacleIntensity{
    width: 80%;
    float: left;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#obstacleIntensityView{
    width: 15%;
    padding: 0 2px 0 2px;
    float: right;
    margin: 0 0 10px 0;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 17px;
    border-radius: 7px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
#obstacleIntensityView:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
#obstacleIntensityView:focus{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
canvas{
    position: absolute;
}


.setupMenu{
    float: left;
    background-color: #f2b632;
    height: calc(100% - 130px);
    width: 400px;
}

.controllBar{
    float: left;
    width: 100%;
    height: 65px;;
    background-color: #252839;
}

#size{
    padding: 0 10px 0 10px;
    width: 230px;
    margin: 0 10px 0 10px;
}

.warning{
    padding: 5px;
    text-align: center;
    background-color: #f92743;
    color: white;
    width: 100%;
    height: 25px;
    border-radius: 10px;
}

