.sidebar-button {
	width: 100%;
	border: 0;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
	color: white;
	border-radius: 10px;
	background-color: Crimson;
	height: 30px;
}
.sidebar-button:active {
	font-size: 10px;
}
