.navButton {
	margin: 5px;
	-webkit-app-region: no-drag;
	height: 55px;
	width: 55px;
	transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: table;
}
.navButton i {
	cursor: pointer;
	font-size: 35px;
	color: white;
	transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.navButton i:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.navButton i:active {
	font-size: 25px;
	transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-osx-font-smoothing: grayscale;
}
